*.DS_Store*
.vscode

__pycache__/

.dev/
.exp/
.slurm/
.demo/


.env/ 
env/ 
wandb/
tmp/


assets/checkpoints/
assets/data/
assets/export_models/

applications/efficientvit_gazesam/models/pytorch
applications/efficientvit_gazesam/models/onnx
applications/efficientvit_gazesam/models/tensorrt

checkpoints/* 
!checkpoints/.gitkeep 
